# ============================
# Android / Java / Gradle
# ============================
Android/*.iml
Android/.gradle/
Android/local.properties
Android/.idea/
Android/.DS_Store
Android/build/
Android/captures/
Android/.externalNativeBuild/
Android/.cxx/
Android/*.apk
Android/*.ap_
Android/*.dex
Android/*.class

# Generado por cada módulo
Android/**/build/
Android/**/.cxx/

# Local config (no se versiona, cada dev tiene la suya)
Android/local.properties

# Logs
Android/*.log

# Keystore (nunca subir esto)
Android/*.jks
Android/*.keystore

# ============================
# Python / FastAPI
# ============================
Backend/__pycache__/
Backend/**/__pycache__/
Backend/*.pyc
Backend/venv/
Backend/.venv/
Backend/env/
Backend/.env
#Backend/*.db
#Backend/*.sqlite3
Backend/.pytest_cache/

# ============================
# General / Sistema operativo
# ============================
.DS_Store
Thumbs.db
*.log